.data-item {
    overflow: hidden;
    position: relative;
    .data-img {
        padding: 5px;
        image {
            width: 100%;
            height: 100%;
        }
    }
    .data-info {
        padding: 10px 5px 10px;
        font-size: 28px;
        line-height: 35px;
    }
    .at-row {
    }
    .data-price{
        padding-top: 15px;
        color: red;
    }
    .data-name {
        word-wrap: break-word;
        word-break: normal;
        white-space: pre-line;
        padding-bottom: 10px;
    }
}